.expandableproduct_container {
  background-color: lightblue;
  margin: 10px 0px;
}

.product_not-expanded_container {
  display: flex;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
}

.product_not-expanded_container_item {
  padding: 0px 10px;
  font-size: large;
}

.product_not-expanded_expand_btn {
  background-color: transparent;
  border: none;
}

.product_expanded_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.product_expanded_label_input_container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.product_expanded_label {
  font-size: large;
  width: 130px;
  text-align: end;
}

.product_expanded_input {
    font-size: large;
    margin: 10px 0px;
    padding: 4px;
    width: 100%;
}

.product_expanded_expand_btn {
  align-self: flex-end;
  background-color: transparent;
  border: none;
}

.product_expanded_confirm_btn {
  padding: 8px;
  background-color: #c79e1b;
  color: white;
  font-size: medium;
  border-radius: 4px;
  border: none;
  margin: 5px;
  transition: background-color 0.3s ease;
}

.product_expanded_confirm_btn:hover {
  background-color: #f8c624;
}

.product_expanded_confirm_btn:active {
  background-color: #957712;
}

.product_expanded_reset_btn {
    padding: 8px;
    background-color: #56d2f2;
    color: white;
    font-size: medium;
    border-radius: 4px;
    border: none;
    margin: 5px;
    transition: background-color 0.3s ease;
  }
  
  .product_expanded_reset_btn:hover {
    background-color: #7bdcf5;
  }
  
  .product_expanded_reset_btn:active {
    background-color: #40c6ef;
  }



.product_expanded_delete_btn {
  padding: 8px;
  background-color: #ac3138;
  color: white;
  font-size: medium;
  border-radius: 4px;
  border: none;
  margin: 5px;
  transition: background-color 0.3s ease;
}

.product_expanded_delete_btn:hover {
  background-color: #d73e47;
}

.product_expanded_delete_btn:active {
  background-color: #81252a;
}

