.product_container {
  flex: 1;
  margin: 5px;
  min-width: 280px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 6px solid rgb(197, 196, 196);
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.product_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.product_image {
  height: 50%;
}

.product_title {
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 1px;
}

.product_price {
  color: #ff0000;
  margin: 1px;
}

.product_cos_btn {
  border: 0px;
  background-color: rgb(14, 56, 133);
  color: white;
  font-size: 15px;
  padding: 7px;
  cursor: pointer;
}

.product_cos_btn:hover {
  background-color: #0c386d;
}

.product_cos_btn:active {
  transform: scale(0.95);
}

.product_wish_btn {
  border: 0px;
  background-color: white;
  font-size: 14px;
  cursor: pointer;
}
