.cart_container {
}

.cart_wrapper {
  padding: 20px;
}

.cart_title {
  font-weight: 300;
  text-align: center;
}

.cart_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.cart_top_button_filled {
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  background-color: black;
  color: white;
}

.cart_top_button_unfilled {
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
  background-color: transparent;
}

.cart_top_text {
  margin: 0px 10px;
}

.cart_bottom {
  display: flex;
  justify-content: space-between;
}

.cart_info {
  flex: 3;
}

.cart_product {
  display: flex;
  justify-content: space-between;
}

.cart_product_detail {
  flex: 2;
  display: flex;
  text-decoration: underline;
  cursor: pointer;
}

.cart_image {
  width: 200px;
}

.cart_details {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cart_product_name {
}

.cart_product_id {
}

.cart_price_detail {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cart_product_amount_container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.cart_product_amount {
  font-size: 24px;
  margin: 5px;
}

.cart_product_price {
  font-size: 30px;
  font-weight: 200;
}

.cart_price_detail {
  flex: 1;
}

.cart_hr {
  background-color: #eee;
  border: none;
  height: 1px;
}

.cart_sumamary {
  flex: 1;
  border: 0.5px solid lightgray;
  border-radius: 10px;
  padding: 20px;
}

.cart_summary_title {
  font-weight: 200;
}

.cart_summary_item {
  margin: 30px 0px;
  display: flex;
  justify-content: space-between;
}

.cart_Summary_item_text {
  flex: 1;
  padding-right: 5px;
}

.cart_Summary_item_price {
  flex: 1;
  padding-left: 5px;
}

.cart_summary_item_total {
  margin: 30px 0px;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 24px;
}

.cart_button {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  font-weight: 600;
}

@media only screen and (max-width: 700px) {
  .cart_wrapper {
    padding: 10px;
  }

  .cart_top_texts {
    display: none;
    background-color: black;
  }

  .cart_bottom {
    flex-direction: column;
  }

  .cart_product {
    flex-direction: column;
  }

  .cart_product_amount {
    margin: 5px 15px;
  }

  .cart_product_price {
    margin-bottom: 20px;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal_content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.modal h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.modal p {
  margin-bottom: 20px;
}

.modal button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.modal button:last-child {
  margin-right: 0;
}

.modal_buttons_container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}


